# Route this org's requests to parent index.php with slug parameter
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase ./
  
  # If requesting anything (including directory root), go to parent index.php with org slug
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^.*$ ../index.php?org=testcampus [QSA,L]
</IfModule>
